{% extends "_layout" %}
{% set title = entry.title ~ ' - Статьи' %}
{% block main %}

<section class="uk-section">
<div class="uk-container uk-container-medium">

	<p class="uk-article-meta">{{ entry.author }} | {{ entry.postDate|date('d.m.Y') }} | {{ craft.starRatings.stars(entry.id) }} | {% do craft.upvote.setIcons({up:'<i class="fa fa-thumbs-up"></i>',down:'<i class="fa fa-thumbs-down"></i>',}) %} {{ craft.upvote.upvote(entry.id) }}{{ craft.upvote.tally(entry.id) }}{{ craft.upvote.downvote(entry.id) }} Всего: {{ craft.upvote.totalVotes(entry.id) }}</p>

		Сюжет: {{ craft.starRatings.stars(entry.id, 'visio') }}<br><br>

		{{ entry.id }}
		{{ entry.title }}
	  {{ entry.postDate|date('d M Y') }}.
		{{ entry.redactor }}

		<h4>
		{% if entry.author.photo %}
			<img class="uk-border-circle uk-icon-fix" src="{{ entry.author.photo.url({width: 64, height: 64}) }}" width="32" alt="{{ entry.author }}" /> {{ entry.author }}
		{% else %}
			<div class="uk-background-primary uk-border-circle uk-text-bold uk-inline uk-h4 uk-margin-remove uk-light" style="width: 34px; height: 34px; top: -2px;"><div class="uk-position-center uk-text-uppercase">{{ (currentUser.fullName ?? currentUser.username) | first }}</div></div>
		{% endif %}
		</h4>
		<p>Об авторе: {{ entry.author.bio }}</p>

		<ul class="uk-child-width-1-3@m uk-flex-middle" data-uk-grid>
			{% set params = {section: 'articles'} %}
			{% set prevEntry = entry.getPrev(params) %}
			{% set nextEntry = entry.getNext(params) %}
			<li  class="uk-text-left">

			{% if prevEntry %}
				<a class="uk-button uk-button-default uk-border-rounded" href="{{ prevEntry.url }}">

					{% set entryImage = prevEntry.thumbnail.all() %}
					{% if entryImage|length %}
					  {% for img in entryImage %}
						<a class="uk-link-text" href="{{ entry.url }}"><img src="{{ img.getUrl }}"></a>
						{% endfor %}
					{% endif %}

					{{ prevEntry.title }}

				</a>
			{% endif %}
			</li>
			<li class="uk-text-center">
				<a class="uk-link-reset uk-button uk-button-default uk-border-rounded" href="{{ url(craft.app.request.segments|first) }}">Back to what's on tap</a>
			</li>
			<li class="uk-text-right">
			{% if nextEntry %}
				<a class="uk-button uk-button-default uk-border-rounded" href="{{ nextEntry.url }}">

					{% set entryImage = nextEntry.thumbnail.all() %}
					{% if entryImage|length %}
					  {% for img in entryImage %}
						<a class="uk-link-text" href="{{ entry.url }}"><img src="{{ img.getUrl }}"></a>
						{% endfor %}
					{% endif %}

					{{ nextEntry.title }}
				</a>
			{% endif %}
			</li>
		</ul>

		<!--  ДОБАВИТЬ КОММЕНТАРИЙ -->

		{% set commentsWork = craft.commentsWork.service %}
		{% set justPosted = commentsWork.checkJustPosted() %}

		{% if justPosted %}<!-- start form -->

			{% if justPosted.error %}<!-- message error -->
	      <div class="alert alert-danger">
	        <p>Пустой комментарий не может быть опубликован.</p>
	      </div>
	    {% else %}<!-- message info -->
	      {% if justPosted.status == 'APPROVED' %}
	        <div class="alert alert-success"><p>Ваш комментарий был опубликован.</p></div>
	      {% elseif justPosted.status == 'PENDING' %}
	        <div class="alert alert-warning"><p>Ваш комментарий был опубликован и ожидает модерации.</p></div>
	      {% else %}
	        {# the status is either trashed or spam for some reason,, #}
	        <div class="alert alert-danger"><p>Ваш комментарий был добавлен, но не был опубликован.</p>
	        </div>
	      {% endif %}
	    {% endif %}

	  {% else %}<!-- comments form -->

	  	{% if not currentUser and not commentsWork.allowAnonymous(entry) %}
	      <p>Анонимное комментирование не допускается. Пожалуйста, войдите.</p>
	    {% else %}




	      <div class="card bg-light">
	        <div id="comments"  class="card-header uk-h2">
	          Комментарии
	        </div>
	        <div class="comments-form uk-background-default uk-padding-small uk-border-rounded uk-margin">
	          <form method="post" action="{{ url('/actions/comments-work/default/post-comment') }}">
	            {{ csrfInput() }}
	            {{ signCommentForm(entry) }}
	            <input name="redirect" value="{{ craft.app.request.url }}#comments" type="hidden"/>
	            <input name="elementId" value="{{ entry.id }}" type="hidden"/>
	            <input name="siteId" value="{{ entry.siteId }}" type="hidden"/>
	            <input name="commentFormat" value="text" type="hidden"/>

	            <div class="form-group">
	              <label for="comment-title">Заголовок</label>
	              <input name="title" id="comment-title" type="text" class="form-control uk-input uk-border-rounded" autocomplete="off" required="required">
	            </div>
	            <div class="form-group uk-margin">
	              <label for="comment-content">Комментарий</label>
	              <textarea name="comment" rows="5" id="comment-content" class="form-control uk-textarea uk-border-rounded" required="required"></textarea>
	            </div>

	            <input class="uk-button uk-button-primary uk-button-search uk-border-rounded uk-text-bold" type="submit" value="Добавить" id="submit">
	          </form>
	        </div>
	      </div>



	    {% endif %}

		{% endif %}<!-- end form -->



	  <!--  СПИСОК КОММЕНТАРИЕВ -->

	  {# show latest 50 comments#}
	  <p>всего комментариев: {{ commentsWork.countComments(entry) }}</p>

	  {% set comments = commentsWork.fetchComments(entry, 0, 50) %}
	  {% for comment in comments %}
	      <div class="card card bg-light">
	          <div class="card-body">
	              <div class="row uk-grid-small" data-uk-grid>
	                  <div class="col-md-2 uk-width-auto">
											<img class="uk-border-circle" src="{{ comment.user.photo.url({width: 150, height: 150}) }}" width="64" alt="{{ comment.user.friendlyName }}" />
	                      <p class="text-secondary text-center">{{ comment.dateCreated | date }} {{ comment.dateCreated | date('H:i') }}</p>
	                  </div>
	                  <div class="col-md-10 uk-width-expand">
	                      {%- if comment.user %}<p><strong>{{ comment.user.friendlyName }}</strong>
	                          </p>{% endif -%}
	                      {%- if comment.title is not empty %}
	                          <p><strong>{{ comment.title }}</strong></p>
	                      {% endif -%}
	                      {%- if comment.comment is not empty %}
	                          <p>
	                              {{ comment | commentAsHtml }}
	                          </p>
	                      {% endif -%}

	                      {{ craft.starRatings.stars(comment.id, true) }}
												({{ craft.starRatings.totalVotes(comment.id) }})

	                  </div>
	              </div>
	          </div>
	      </div>
	      <br/>
	  {% endfor %}
	  {# end comments #}

</div>
</section>

{% endblock %}
